.crearcuenta-body { 
  background-color: #1a1a1a; /* Color de fondo gris oscuro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.crearcuenta-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.crearcuenta-content {
  flex: 1;
  padding: 40px;
}

.crearcuenta-profile-container {
  width: 800px;
  background-color: #2a2a2a; /* Color ligeramente más claro que el fondo */
  color: white;
  padding: 40px;
  margin: 20px auto;
  border-radius: 10px;
}

/* Cambiar a columna y centrar */
.crearcuenta-profile-header {
  display: flex;
  flex-direction: column; /* Cambia a columna para centrar */
  align-items: center; /* Centra horizontalmente */
  margin-bottom: 10px;
}

.crearcuenta-profile-details h2 {
  margin: 0;
  font-size: 22px;
}

.crearcuenta-profile-details p {
  margin: 0;
  font-size: 16px;
  color: #aaa;
}

.crearcuenta-profile-info {
  margin-top: 30px;
}

.crearcuenta-info-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.crearcuenta-info-field label {
  font-size: 14px;
  color: #888;
  width: 150px;
}

.crearcuenta-info-field input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #2f2f2f;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.crearcuenta-info-field input:focus {
  outline: none;
  border-bottom: 1px solid #00b74a;
}

.crearcuenta-save-button {
  width: 150px;
  padding: 10px;
  background-color: #00b74a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.crearcuenta-save-button:hover {
  background-color: #008c37;
}

.crearcuenta-save-button-text {
  text-transform: uppercase;
  font-weight: bold;
}

/*Estilo para imagen de profile*/
.crearcuenta-profile-picture {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  transition: transform 0.2s; /* Efecto de transformación */
}

.crearcuenta-profile-picture:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .crearcuenta-profile-container {
    width: 90%; /* Reducir el ancho en pantallas pequeñas */
    padding: 20px; /* Reducir el padding */
  }

  .crearcuenta-profile-header {
    margin-bottom: 15px; /* Aumentar el espacio inferior */
  }

  .crearcuenta-profile-details h2 {
    font-size: 20px; /* Ajustar el tamaño del texto */
  }

  .crearcuenta-info-field {
    flex-direction: column; /* Cambiar la disposición a columna */
    align-items: flex-start; /* Alinear los elementos a la izquierda */
  }

  .crearcuenta-info-field label {
    width: 100%; /* Ocupa todo el ancho */
    margin-bottom: 5px; /* Añadir espacio debajo del label */
  }

  .crearcuenta-info-field input {
    width: 100%; /* Ajustar para que ocupe el 100% */
    max-width: 100%; /* Sin límite en el ancho máximo */
    margin-left: 0; /* Eliminar el margen izquierdo */
  }

  .crearcuenta-save-button {
    width: 100%; /* Botón más ancho en pantallas pequeñas */
  }

  .crearcuenta-profile-picture {
    width: 100px; /* Ajustar el tamaño de la imagen en pantallas pequeñas */
    height: 100px;
  }
}

@media (max-width: 480px) {
  .crearcuenta-profile-container {
    width: 95%; /* Aumenta la adaptabilidad para pantallas extra pequeñas */
    padding: 10px; /* Reduce más el padding */
  }

  .crearcuenta-profile-details h2 {
    font-size: 18px; /* Reducir aún más el tamaño del texto */
  }

  .crearcuenta-info-field input {
    padding: 8px; /* Reducir el padding de los inputs */
  }

  .crearcuenta-save-button {
    width: 100%; /* Asegurar que el botón sea del ancho completo */
    padding: 8px; /* Ajustar el tamaño del padding */
  }

  .crearcuenta-profile-picture {
    width: 80px; /* Reducir más el tamaño de la imagen */
    height: 80px;
  }
}
