/* Estilos generales */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  color: white;
  overflow-x: hidden;
}

/* Contenedor del dashboard */
.dashboard-container {
  display: flex;
  height: 100vh; /* Hacer que el dashboard ocupe toda la altura de la pantalla */
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  width: 240px;
  background: #454545;
  border-radius: 16px;
  color: white;
  margin: 10px 0;
}

.sidebar h2 {
  color: white;
  margin-bottom: 20px;
}

/* Botones de la sidebar */
.sidebar button {
  width: 100%;
  padding: 15px 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px; /* Añadir espacio entre los botones */
}

/* Efecto hover para todos los botones */
.sidebar button:hover {
  background-color: #616161;
}

/* Estilos de los iconos en los botones */
.icon {
  width: 35px;
  height: auto;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 3px;
}

/* Contenedor principal */
.main-content {
  flex-grow: 1; /* El contenedor principal ocupa el espacio restante */
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px; /* Espacio a la izquierda de la sidebar */
}

/* Contenedor de los widgets */
.widgets-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las filas de widgets */
}

/* Fila de widgets */
.widgets-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre widgets */
}

/* Footer */
footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  color: white;
}
