/* Estilos generales */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  color: white;
  overflow-x: hidden;
}

/* Contenedor del dashboard */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Para que las gráficas ocupen 2 columnas */
  grid-gap: 20px; /* Espacio entre las gráficas */
  margin-bottom: 20px;
  width: 100%;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  width: 240px;
  background: #454545;
  border-radius: 16px;
  color: white;
  height: 100vh; /* Asegura que el sidebar ocupe toda la altura */
}

.sidebar h2 {
  color: white;
  margin-bottom: 40px; /* Aumenta el espacio debajo del título */
  text-align: center;
  width: 100%;
}

/* Botones de la sidebar */
.sidebar button {
  width: 100%; /* Asegura que los botones ocupen el ancho completo del sidebar */
  padding: 15px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px; /* Espacio entre los botones */
  display: flex;
  align-items: center; /* Alinea el ícono y el texto verticalmente */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Efecto hover para todos los botones */
.sidebar button:hover {
  background-color: #2E8B57; /* Cambia el color a verde cuando se pasa el mouse */
}

/* Botón activo - la página actual se destaca en verde */
.sidebar button.active {
  background-color: #2E8B57;
}

/* Estilos de los íconos en los botones */
.icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 5px;
}

/* Contenedor del contenido de los botones */
.button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%; /* Asegura que el contenido del botón ocupe todo el ancho */
}


/* Botón activo - la página actual se destaca en verde */
.sidebar button.active {
  background-color: #2E8B57; /* Cambia el color a verde para la página activa */
}


/* Contenedor principal */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px;
}

/* Contenedor de los widgets */
.widgets-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

/* Fila de widgets */
.widgets-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

/* Contenedor de los gráficos */
.chart-container {
  flex: 1;
  min-width: 45%; /* Asegura que el contenedor del gráfico no se encoja demasiado */
  margin: 10px;
}

.chart-wrapper {
  width: 100%;
  height: 400px; /* Asegurar una altura consistente */
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  overflow: hidden;
}
