/* Aseguramos que el contenedor ocupe toda la página */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenedor de los sensores ocupa el espacio restante */
.sensor-content {
  flex: 1;
  padding: 30px;
  background-color: #1f1f1f;
  color: white;
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más suave y extendida */
}

.sensor-title {
  font-size: 24px;
  color: #00b74a; /* Verde claro para el título */
  margin-bottom: 20px;
  text-align: left;
}

.sensor-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
}

.sensor-table th, .sensor-table td {
  padding: 20px;
  border-bottom: 1px solid #333;
}

/* Color gris para los títulos de las columnas */
.sensor-table th {
  color: #888; /* Color gris claro para los títulos */
  font-weight: normal;
  text-align: left;
}

.sensor-table td {
  color: #fff; /* Color blanco para el texto de las celdas */
}

.sensor-table tr:last-child td {
  border-bottom: none;
}

/* Colores para el estado de los sensores */
.status-ok {
  color: #00ff00 !important; /* Verde brillante para OK */
}

.status-not-available {
  color: #ff0000 !important; /* Rojo brillante para NO AVAILABLE */
}

/* Estilos para hacer que la tabla tenga filas alternas de diferente color */
.sensor-table tr:nth-child(odd) {
  background-color: #2a2a2a;
}

.sensor-table tr:nth-child(even) {
  background-color: #1f1f1f;
}

.button-row {
  display: flex;
  justify-content: center; /* Centramos los botones horizontalmente */
  gap: 40px; /* Añadimos más espacio entre los botones */
  margin-bottom: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que el texto esté centrado */
  padding: 10px 30px; /* Ajustamos el padding para permitir que el texto se vea completo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008c37; /* Verde oscuro para el estado normal */
  color: white;
  font-size: 16px;
  margin-top: 20px;
  white-space: nowrap; /* Evitamos que el texto se divida */
  width: 200px; /* Asegura que todos los botones tengan el mismo ancho */
}

button:hover {
  background-color: #00b74a; /* Verde claro para el hover */
  transform: scale(1.05); /* Añadimos un ligero aumento al hover */
}

.button-content {
  text-align: center;
  white-space: nowrap; /* Aseguramos que el texto esté en una sola línea */
}

/* Estilo específico para la clase save-button (similar a los otros botones) */
.save-button {
  width: 150px;
  padding: 10px;
  background-color: #008c37; /* Verde oscuro para el estado normal */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

.save-button:hover {
  background-color: #00b74a; /* Verde claro para el hover */
  transform: scale(1.05); /* Añade un ligero aumento al hover */
}

/* Transiciones entre secciones */
.fade-enter {
  opacity: 0;
  transform: translateY(20px) scale(0.95); /* Baja la posición y reduce el tamaño al inicio */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1); /* Recupera la posición y el tamaño normales */
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out; /* Aumentamos el tiempo de la transición */
}

.fade-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px) scale(0.95); /* Añadimos una reducción del tamaño al salir */
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out; /* Aumentamos el tiempo de la transición */
}

/* Botón específico para eliminar sensores */
.delete-button1 {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 5px;
  width: 80px;
  margin-left: 0%;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

.delete-button1:hover {
  background-color: #45a049;
  transform: scale(1.05); /* Ligero aumento al pasar el mouse */
}
